@import 'Helpers/SCSS/Colors.scss';
@import 'Helpers/SCSS/Shapes.scss';

.button {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;

  background-color: #238626;
  color: $white;
  border: none;
  border-radius: $border-radius;
}
