@import 'Helpers/SCSS/Colors.scss';
@import 'Helpers/SCSS/Shapes.scss';

.button {
  width: 100%;
  padding: 5px 16px;

  background-color: #238626;
  color: $white;
  border: none;
  border-radius: $border-radius;
}
