@import 'Helpers/SCSS/Colors.scss';

* {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: $dark;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
