@import "Helpers/SCSS/Colors.scss";
@import 'Helpers/SCSS/Shapes.scss';

.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  margin: 4px 0;

  color: $white;

  border-radius: $border-radius;
  border: 1px solid;

  button {
    border: none;

    background-color: transparent;
  }
}

.error {
  background-color: #372227;
  border-color:$red;

  button {
    color: $red;
  }
}

.success {
  background-color: #223727;
  border-color:$green;

  button {
    color: $green;
  }
}
